/*adapted from ALA core style sheet*/
body{
	margin:50px;
	font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
}
th	{
	font-weight: bold;
	}
ol, ul	{
	margin: .5em 0;
	padding-left: 10px;
	margin-left: 10px;
	}
li	{
	line-height: 1.4;
	margin-bottom: 10px;
	padding-left: 5px;
	margin-left: 5px;
	list-style: disc url(http://www.alistapart.com/i/listblack.gif) inside;
	vertical-align: top;
	}
code, pre	{
	font-family: "Bitstream Vera Sans Mono", monaco, "Courier New", courier, monospace;
	font-weight: normal;
	background: inherit;
	color: #333;
	}
	/*  Work around IE/Win code size bug - courtesy Jesper, waffle.wootest.net  */
* html code	{
	font-size : 105%; 
	}
	/*  Typography */
h1, h2, h3, h4, h5, h6	{
	font-family: Myriad, "Gill Sans", "Century Gothic", "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-weight: normal;
	margin-top: 25px;
	margin-bottom: 2px;
	letter-spacing: 1px;
	}
h1	{
    margin-top: 0;
    font-size:    medium;      
    voice-family: "\"}\"";   
    voice-family: inherit;   
    font-size:  large;       
    }
html>h1 	{
	font-size:  large;  
	} 
h2	{
    margin-top: 35px; 
    font-size:    medium;     
    voice-family: "\"}\"";   
    voice-family: inherit;   
    font-size:    large;       
    }
html>h2 	{
	font-size:  large;  
	} 
h3	{ 
	font-size: small;      
	voice-family: "\"}\"";   
	voice-family: inherit;   
	font-size: medium;  
	}
html>h3 	{
	font-size:  medium;  
	} 	
h4	{
	font-weight: normal;
   	font-size: x-small;      
	voice-family: "\"}\"";   
	voice-family: inherit;   
	font-size: small;  
	}
html>h4 	{
	font-size: small;  
	} 	
h5	{
     font-size:    xx-small;      
     voice-family: "\"}\"";   
     voice-family: inherit;   
     font-size:    x-small;  
	}	
html>h5 	{
	font-size:  x-small;  
	} 
p	{
	line-height: 140%;
	text-align: left;
	margin-top: 0;
	margin-bottom: 1em;
	}
div, p, th, td, li    {
     font-size:    x-small;      
             /* Tantek again */
    voice-family: "\"}\"";   
    voice-family: inherit;   
    font-size:    small;         
    }
html>div, html>p, html>th, 
html>td, html>li   {
    font-size:  small;
    }
	/* General linkology */
a:link, a:visited {
	font-weight : bold; 
	text-decoration : none;
	color: #c30;
	background: transparent; 
	}
a:hover {
	font-weight : bold; 
	text-decoration : underline;
	color: #999;
	background: transparent; 
	}
a:active {
	font-weight : bold; 
	text-decoration : none;
	color: #526968;
	background: transparent;  
	}