body {
	background:#fff;
	margin:15px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#header h1 {
	padding:0;
	margin:0;
}

#header h2 {
	padding:0;
	margin:0;
	color:#666;
}

#nav {
	float:left;
	width:150px;
}

#content {
	margin-left:165px;
}

#footer {
	background:#eaeaea;
	padding:5px 10px;
}

#preview-message {
	display:none;
}