	.contentType
	{
		color: #AAAAAA;
	}
	
	.domainName
	{
		font-weight: bold;
	}
	
	
	#apicallinfo{
		margin-top: 2em;
		margin-right: 2em;
		padding: 1em;
		background-color: #eee;
		border: solid 2px #ddd;
		width: 20em;
		float: left;
	}
	
	#results{
		margin-top: 2em;
		margin-right: 2em;
		padding: 1em;
		width: 40em;
		float: left;
	}
	
	.item{
	    border-bottom: 1px solid #eee;
	    margin-bottom: 1em;
	    padding-bottom: 1em;
	}