	 div#count {background-color:#AAAAFE;padding:6px;font: normal 0.8em arial;margin-bottom:10px;}
	 p  {font: 0.8em arial;}
	 h3 {font: normal 0.8em Verdana;}
	 dt {font: bold 0.9em Verdana;}

	.pda_ver dl, .pda_ver dt, .pda_ver dd {margin:0;padding:0;}

	.pda_hor .tabbed {margin-top:30px;width:250px;float:left;}
	.pda_hor dl {width:250px;position:relative;}
	.pda_hor dt {font: bold 0.8em arial;white-space:normal;width:12px;background:#CCC;padding: 2px 6px 2px 6px;float:left;clear:left;margin:1px 0 1px 6px;cursor:pointer;}
	.pda_hor dt.current {width:18px;background-color:#FFF;padding: 2px 6px 2px 7px;float:left;top:0;margin:0 0 1px 4px;cursor:pointer;border-top:1px solid #CCC;border-left:1px solid #CCC;border-bottom:1px solid #CCC;z-index:99;}
	.pda_hor dd {display:none;}
	.pda_hor dd.current {display:block;border: 1px solid #CCC;padding:12px;top:0;position:absolute;z-index:-1;margin-left:0;left:39px;}

	.screen_ultralow dl {width:85%;position:relative;}
	.screen_ultralow dt {font: bold 0.8em arial;white-space:normal;height:19px;background:#CCC;padding: 2px 6px 2px 6px;float:left;top:0;margin:2px 1px 0 1px;cursor:pointer;}
	.screen_ultralow dt.current {height:22px;background-color:#FFF;padding: 2px 6px 2px 6px;float:left;top:0;margin:0 1px 0 1px;cursor:pointer;
								border-top:1px solid #CCC;border-left:1px solid #CCC;border-right:1px solid #CCC;z-index:99;position:relative;
	}
	.screen_ultralow dd {display:none;}
	.screen_ultralow dd.current {display:block;border: 1px solid #CCC;padding:12px;top:26px;position:absolute;z-index:0;margin-left:0;left:0;}

	.screen_low dl {width:400px;position:relative;padding-top:30px;margin:0;}
	.screen_low dt {position:absolute;width:130px;margin-left:0;margin-top:-19px;margin-right:86px;border:1px solid #FFF;display:inline;}
	.screen_low dd {width:130px;margin-left:0;margin-right:20px;margin-bottom:40px;float:left;}
	* html .screen_low dt {margin-right:0;display:block;}

	.screen_low dt#tab1 {left:0;top:30px;}
	.screen_low dt#tab2 {left:37%;top:30px;}
	.screen_low dt#tab3 {left:0;top:540px;}
	.screen_low dt#tab4 {left:37%;top:540px;}


	.screen_med dl {width:800px;position:relative;padding-top:50px;margin:0;}
	.screen_med dt {position:absolute;width:30%;margin-top:-38px;margin-left:0;padding-right:20px;margin-right:30px;border-bottom:1px solid #999;margin-bottom:20px;display:inline;}
	.screen_med dd {width:40%;float:left;margin-left:0;margin-right:20px;margin-bottom:80px;}
	* html .screen_med dt {margin-right:0;display:block;padding-right:0;}

	.screen_med dt#tab1 {left:0;top:40px;}
	.screen_med dt#tab2 {left:43%;top:40px;}
	.screen_med dt#tab3 {left:0;top:350px;}
	.screen_med dt#tab4 {left:43%;top:350px;}



	.screen_high dl {width:100%;position:relative;padding-top:50px;margin:0;}
	.screen_high dt {width:15%;margin-left:0;margin-right:3%;margin-bottom:20px;background:#999;color:#FFF;padding:5px;padding-right:2.2%;position:absolute;}

	.screen_high dt#tab1 {left:0;}
	.screen_high dt#tab2 {left:22.5%;}
	.screen_high dt#tab3 {left:44.5%;}
	.screen_high dt#tab4 {left:66.5%;}

	.screen_high dd {width:15%;float:left;margin-left:0;margin-right:3%;margin-top:40px;padding-right:4.2%;}
	* html .screen_high dt {margin-right:0;display:block;padding-right:0;}





	.screen_wide dl {width:100%;position:relative;padding-top:50px;margin:0;}
	.screen_wide dt {width:22%;margin-left:0;margin-right:1.8%;background:#999;color:#FFF;padding:5px;margin:0;position:absolute;height:20px;}

	.screen_wide dt#tab1 {left:0;}
	.screen_wide dt#tab2 {left:24%;}
	.screen_wide dt#tab3 {left:47.5%;}
	.screen_wide dt#tab4 {left:71.5%;}
	
	
	.screen_wide dd {width:22%;margin-left:0;margin-right:30px;margin-top:40px;float:left;}
	.screen_wide .tabbed {width:1600px;margin:auto;}
	* html .screen_wide dt {margin-right:0;display:block;padding-right:0;}

